# ansible-vault encrypt 02_ConfigurationDeploymentAnsible/ansible/inventory/group_vars/vaults.yml

vault_mongo_admin_password: "MyStrongAdminPassword!2026"
vault_mongo_app_password: "MyStrongAppPassword!2026"